

.App {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right top, #070d57, #4c4280, #857daa, #c1bcd4, #ffffff);
    display: flex;
    justify-content: center; 
}

.AppInfo {
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}

.logoLanding {
    width: 180px;
    height: 180px;
    margin-bottom: 50px;
}

.landingTitle {
    font-size: 30px;
    margin-bottom: 25px;
}

.landingDescription {
    margin-bottom: 50px;
}

.nextBtn {
    width: 370px;
    height: 50px;
    border-radius: 26px;
    cursor: pointer;
    background-color: white;
    font-size: 18px;
}

.nextBtn:hover {
    background-color: var(--Color-brand-1);
    transition: 700ms;
    color: white;
}